<%- include('includes/head.ejs')%>

<h3 id="guitarras">Este sitio es para ingresar nuevos instrumentos</h3>
<br><br>
<form action="nuevo" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="<%=csrfToken %>" > <!--Protección csrf-->
    <label for="nombre"><h6>Nombre del instrumento:</h6> </label>
    <input type="text"id="nombre" name="nombre" placeholder="Violín">

    <label for="tipo"><h6>Tipo de instrumento:</h6> </label>
    <input type="text"id="tipo" name="tipo" placeholder="Instrumento de viento">

    <label for="descripcion"><h6>Descripción:</h6> </label>
    <input type="text"id="descripcion" name="descripcion" placeholder="Es un instrumento...">
    <br>

    <label for="imagen">Imagen:   </label>
    <input type="file" id="imagen" name="imagen">
    <br><br>

    <input type="submit" value="Enviar">
</form>
<br><br>
<a href="/musica/instrumentos">Regresar a la lista de instrumentos</a>
<br><br>

<%- include('includes/foot.ejs')%>
</body>